// Set your colors
$primary: #E94429;

// Links
$link: $primary;
$link-focus-border: $primary;

// Components
$navbar-height: 4rem;
$gap: 128px;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";